/* componentes.css */

.logo {
  position: absolute;
  display: block;
  max-width: 100%;
  margin: 0;
}

.logo > img {
  display: flex;
  max-width: 15%;
  margin-top: 10px;
  margin-bottom: -30px;
  margin-left: 95px;
}

nav ul {
  margin-top: 15px;
  justify-content: center;
  align-items: center;
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  display: block;
  padding: 10px 20px; /* Adiciona espaçamento interno para os itens */
  text-align: center; /* Centraliza o texto dentro de cada item */
  box-sizing: border-box; /* Inclui a borda no cálculo da largura */
}

/* Borda apenas nos itens do menu principal (não no submenu) */
header > nav > ul  > li {
  position: relative;
  padding-right: 20px; /* Adiciona um pequeno espaço para a borda */
}

header > nav > ul > li:not(:last-child) {
  border-right: 1px solid #d43f3a; /* Aplica a borda somente aos itens que não são o último */
}



.hero h1 {
  border-left: 4px solid red;  /* Borda do lado esquerdo */
  padding-left: 10px;  /* Espaçamento entre o texto e a borda */
  margin: 0;  /* Remove qualquer margem extra */
  line-height: 1.2;
  padding-bottom: 0;
}  

.content {
  padding: 0 100px;

}

.content h1 {
  font-size: 30px;
}

.highlights li  {
  list-style-type: none;
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
}

strong {
  font-weight: bold;
}

h1 {
  font-weight: normal; /* Ou qualquer valor mais leve */
}

