/* Logo */
.logo {
  position: fixed;
  display: block;
  max-width: 100%;
  margin-top: 25px;
  margin-right: 450px;
}

.logo > img {
  display: flex;
  max-width: 15%;
  margin-left: 95px;
  margin-top: -50px;
  padding-bottom: -50;
  margin-bottom: -50px;
}

/* Menu */
nav {
  position: fixed; /* Fixa o menu no topo */
  top: 0;
  left: 0;
  width: 100%;
  min-height: px;
  background-color: #111;
  z-index: 1000; /* Garante que o menu fique acima do conteúdo, mas abaixo da logo */
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  margin-top: 15px;
  justify-content: center;
  align-items: center;
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  display: block;
  padding: 10px 20px;
  text-align: center;
  box-sizing: border-box;
}

/* Borda apenas nos itens do menu principal (não no submenu) */
header > nav > ul > li {
  position: relative;
  padding-right: 20px; /* Adiciona um pequeno espaço para a borda */
}

header > nav > ul > li:not(:last-child) {
  border-right: 1px solid #d43f3a; /* Aplica a borda somente aos itens que não são o último */
}

/* Efeitos de hover para o menu */
.menu_home:hover a p,
.menu_motos:hover,
.menu_sobrenos:hover,
.menu_contato:hover {
  text-shadow: 2px 2px 8px rgba(197, 14, 14, 0.938);
}

/* Garante que o conteúdo não sobreponha o menu */
body {
  position: relative;
  z-index: 1; /* Garante que o conteúdo fique abaixo do menu */
  padding-top: 90px; /* Ajuste o valor conforme a altura do menu */
}

/* Ajuste o conteúdo para garantir que não sobreponha o menu */
.hero {
  position: relative;
  z-index: 2;
}

.hero h1 {
  border-left: 4px solid red;  /* Borda do lado esquerdo */
  padding-left: 10px;  /* Espaçamento entre o texto e a borda */
  margin: 0;  /* Remove qualquer margem extra */
  line-height: 1.2;
  padding-bottom: 0;
  font-weight: 200;
}  

.highlights {
  font-weight: 600;
  font-size: 20px;
  list-style: none;
}

strong {
  font-weight: 700;
}