/* Estilos globais */
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
     overflow-x: hidden; /* Evita rolagem horizontal */
     background-color: black;
    /* overflow-y: hidden;  Evita rolagem vertical  */
  }
  
  .container  {
    margin: 0 auto;
    margin-bottom: -20px;
    display: grid;
    grid-template-columns: repeat(4fr, 1fr); /* Colunas flexíveis */
    grid-template-rows: 6rem 49rem 40rem 10rem;
    grid-row: auto-fill auto-fill  auto-fill  auto-fill;
    height: 100vh;
  }

  .menu, .conteudo , .footer, .banner{
    width: 100%; /* Opcional, mas útil em casos de inconsistências */
    align-items: center;
    align-content: center;
  }