/* layout.css */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #111;
}

nav {
    flex: 1; /* Ocupa o espaço disponível entre logo e borda direita */
    display: flex;
    justify-content: center; /* Centraliza os itens dentro do nav */
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 30px;
}

