/* layout.css */

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 30px;
}

.btn-container {
    padding-top: 10px;
    display: flex;
    justify-content: center;         /* Centraliza o botão horizontalmente */
    width: 100%;                     /* Ocupa toda a largura disponível */
    margin-bottom: 10px;
  }
  
  .btn {
    padding: 10px 20px;
    margin: 20px;
    background-color: #c4320a;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    font-size: 16px;
  }