/* whatsapp.css */

.whatsapp-icon {
    position: fixed;            /* Fixa o botão na tela */
    right: 0;                /* Posiciona o botão no canto direito */
    top: 90%;                   /* Centraliza verticalmente */
    transform: translateY(-50%); /* Ajuste para centralizar exatamente no meio */
    background-color: #25D366;  /* Cor de fundo verde (padrão do WhatsApp) */
    color: white;               /* Cor do texto */
    padding: 10px 20px;         /* Espaçamento interno */
    text-decoration: none;      /* Remove o sublinhado */
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    font-weight: bold;          /* Deixa o texto em negrito */
    display: flex;              /* Permite alinhamento com ícone */
    align-items: center;        /* Centraliza o conteúdo verticalmente */
    z-index: 9999;              /* Garante que o botão fique acima de outros elementos */
  }
  
  /* Efeito de hover para dar destaque */
  .whatsapp-icon:hover {
    background-color: #20b857;  /* Tom de verde um pouco mais escuro ao passar o mouse */
  }